HELP.md
target/
/spring-boot-backend/poc_customer_api/.mvn
/spring-boot-backend/poc_order_management/.mvn
/spring-boot-backend/poc_product_api/.mvn
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

#angular
/angular-frontend/poc-gui/node_modules
/angular-frontend/poc-gui/package-lock.json